/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: #241916;
  --vp-c-default-2: #58423B;
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #B34A2A;
  --vp-c-brand-2: #FF8E6B;
  --vp-c-brand-3: #FF9D7A;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: #8F523F;
  --vp-c-tip-2: #FFC6B4;
  --vp-c-tip-3: #FFD2C4;
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: #6E5E00;
  --vp-c-warning-2: #C6AB19;
  --vp-c-warning-3: #D1B823;
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: #BA1A1A;
  --vp-c-danger-2: #FFDAD6;
  --vp-c-danger-3: #FFE3DF;
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #d47453 30%,
    #FFEDE6
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #ff9d7a 50%,
    #ffe6cc 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/* Text selection highlight */
::selection {
  background: var(--vp-c-brand-3);
  color: #2F0700;
}

/* --------------------------- */
/* Dark Mode Overrides */
/* --------------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --vp-c-default-1: #F4DED8;
    --vp-c-default-2: #DFC0B7;
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: #FFB59F;
    --vp-c-brand-2: #C4502B;
    --vp-c-brand-3: #C4502B;
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    --vp-c-tip-1: #FFB59F;
    --vp-c-tip-2: #643122;
    --vp-c-tip-3: #643122;
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: #F0D44C;
    --vp-c-warning-2: #C4AA22;
    --vp-c-warning-3: #C4AA22;
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: #FFB4AB;
    --vp-c-danger-2: #93000A;
    --vp-c-danger-3: #93000A;
    --vp-c-danger-soft: var(--vp-c-red-soft);

    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #FFB59F 30%,
      #C4502B
    );
    --vp-home-hero-image-background-image: linear-gradient(
      -45deg,
      #ff7746 50%,
      #ffd890 50%
    );
    --vp-home-hero-image-filter: blur(44px);

    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-default-1);
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
  }

  /* Text Selection for Dark Mode */
  ::selection {
    background: var(--vp-c-brand-3);
    color: #3B2D2A;
  }
}